@import 'tailwindcss';

@theme {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary-50: #F2FBF0;
  --color-primary-100: #E4F7E0;
  --color-primary-200: #CFF1C5;
  --color-primary-300: #B9EAA9;
  --color-primary-400: #A8E4A0;
  --color-primary-500: #90D88B;
  --color-primary-600: #6BBF65;
  --color-primary-700: #4B9B46;
  --color-primary-800: #357034;
  --color-primary-900: #204B21;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;

  --color-success-50: #F0FDF4;
  --color-success-100: #D1FAE5;
  --color-success-200: #A7F3D0;
  --color-success-300: #6EE7B7;
  --color-success-400: #34D399;
  --color-success-500: #10B981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065F46;
  --color-success-900: #064E3B;

  --color-warning-50: #FFFBEB;
  --color-warning-100: #FFFBEB;
  --color-warning-200: #FEF3C7;
  --color-warning-300: #FDE68A;
  --color-warning-400: #FCD34D;
  --color-warning-500: #FBBF24;
  --color-warning-600: #F59E0B;
  --color-warning-700: #D97706;
  --color-warning-800: #B45309;
  --color-warning-900: #92400E;

  --color-error-50: #FEF2F2;
  --color-error-100: #FEE2E2;
  --color-error-200: #FECACA;
  --color-error-300: #FDAAAA;
  --color-error-400: #F87171;
  --color-error-500: #F04B4B;
  --color-error-600: #DC2626;
  --color-error-700: #B91C1C;
  --color-error-800: #7F1D1D;
  --color-error-900: #601313;

  --color-error-50: #EFF6FF;
  --color-error-100: #DBEAFE;
  --color-error-200: #BFDBFE;
  --color-error-300: #93C5FD;
  --color-error-400: #60A5FA;
  --color-error-500: #3B82F6;
  --color-error-600: #2563EB;
  --color-error-700: #1D4ED8;
  --color-error-800: #1E40AF;
  --color-error-900: #1E3A8A;

  --color-text-primary: #111827;
  --color-text-secondary: #374151;
  --color-text-muted: #6B7280;
  --color-text-inverse: #FFFFFF;
  --color-text-primary-brand: #204B21;
}